$ft_teko: 'Teko', sans-serif;
$wrapp_padding: 10px;

@mixin create_bg($url) {
  background: url($url) center center no-repeat;
  background-size: cover;
}

@mixin set_icon_pos($top, $left) {
  left: $left;
  top: $top
}

* {box-sizing:  border-box; padding: 0; margin: 0; }

body {
  overflow: hidden;
}

.animate {
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.disabled {
  pointer-events: none;
}

.app {
  height: 100vh;
  position: relative;
}

.map {
  height: 50px;
  width: 50px;
  @include create_bg('../assets/map.jpg');
  background-size: cover;
  position: absolute;
  bottom: $wrapp_padding;
  right: $wrapp_padding;
  cursor: pointer;
  visibility: hidden;
  z-index: 230;
  @extend .animate;
  &.loaded {
    visibility: visible;
  }
  .content {
    height: 100%;
    width: 100%;
    position: relative;
    user-select: none;
    border: 1px solid black;
    .map__point {
      height: 15px;
      width: 15px;
      z-index: 220;
      transition-duration: 0.6s;
      position: absolute;
      transform: scale(1.1);
      transition-duration: 0.1s;
      opacity: 0;
      @extend .animate;
      @include create_bg('../assets/disable__icon.png');
      &.active {
        @include create_bg('../assets/active__icon.png');
      }
      &:hover {
        transform: scale(2);
        @extend .animate;
      }
      &:nth-child(1) { @include set_icon_pos(6px, 70px) }
      &:nth-child(2) { @include set_icon_pos(14px, 100px) }
      &:nth-child(3) { @include set_icon_pos(34px, 95px) }
      &:nth-child(4) { @include set_icon_pos(45px, 105px) }
      &:nth-child(5) { @include set_icon_pos(65px, 110px) }
     }
  }
  &:hover {
    width: 300px;
    height: 300px;
    @extend .animate;
    .content {
      .map__point {
        opacity: 1;
        transition-duration: 0.6s;
      }
    }
  }
}

.preloader {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 210;
  background-image: url('../assets/preloader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: center;
  align-items: center;
  font-family: $ft_teko;
  font-size: 18px;
  user-select: none;
}
