$ft_teko: 'Teko', sans-serif;
$wrapp_padding: 10px;

@keyframes animate_circle {
  from {
    transform: scale(0);
  }25% {
    transform: scale(1.4);
  }50% {
    transform: scale(1.8);
  }75% {
    transform: scale(1.4);
  }to {
    transform: scale(0);
  }
}

@mixin create_bg($url) {
  background: url($url) center center no-repeat;
  background-size: cover;
}

@mixin set_icon_pos($top, $left) {
  left: $left;
  top: $top
}


* {box-sizing:  border-box; padding: 0; margin: 0; }

body {
  overflow: hidden;
  cursor: none;
}

.animate {
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.disabled {
  pointer-events: none;
}

.app {
  height: 100vh;
  position: relative;
}

.map {
  height: 200px;
  width: 300px;
  @include create_bg('../assets/map.jpg');
  background-size: cover;
  position: absolute;
  bottom: $wrapp_padding;
  z-index: 230;
  right: $wrapp_padding;
  cursor: pointer;
  visibility: hidden;
  &.loaded {
    visibility: visible;
  }
  .content {
    height: 100%;
    width: 100%;
    position: relative;
    user-select: none;
    border: 1px solid black;
    .map__point {
      height: 15px;
      width: 15px;
      z-index: 220;
      position: absolute;
      transform: scale(1.1);
      @extend .animate;
      @include create_bg('../assets/disable__icon.png');
      &.active {
        @include create_bg('../assets/active__icon.png');
      }
      &:hover {
        transform: scale(2);
        @extend .animate;
      }
      &:nth-child(1) { @include set_icon_pos(6px, 70px) }
      &:nth-child(2) { @include set_icon_pos(14px, 100px) }
      &:nth-child(3) { @include set_icon_pos(34px, 95px) }
      &:nth-child(4) { @include set_icon_pos(45px, 105px) }
      &:nth-child(5) { @include set_icon_pos(65px, 110px) }
     }
  }
}

.preloader {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 210;
  background-image: url('../assets/preloader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: center;
  align-items: center;
  font-family: $ft_teko;
  font-size: 18px;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: #000000;
  border-radius:  50%;
  z-index:  205;
  position: absolute;
  &.loading {
    &::after {
      display: block;
      height: 10px;
      width: 10px;
      z-index: 204;
      background-color: #ff0000;
      border-radius: 50%;
      content: '';
      opacity: 0.6;
      transform: scale(1.5);
      animation: animate_circle 0.5s ease-in infinite;
    }
  }
}