$ft_teko: 'Teko', sans-serif;

.animate {
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.disabled {
  pointer-events: none;
}

* {box-sizing:  border-box; padding: 0; margin: 0; }

body {
  overflow: hidden;
}

.app {
  height: 100vh;
  position: relative;
}

.map {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 200;
  font-family: $ft_teko;
  display: flex;
  width: 100%;
  .map__point {
    font-size: 20px;
    user-select: none;
    padding: 10px;
    color: #fff;
    @extend .animate;
    cursor: pointer;
    &.active {
      color: #ff0000;
      @extend .animate;
    }
    &:hover {
      color: #ff0000;
    }
  }
}

.preloader {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 200;
  background-image: url('../assets/preloader.gif');
  background-repeat: no-repeat;
  background-position: center center;
}